h1 {
  text-align: center;
  background-color: darkslateblue;
  padding: 1em;
}

.titles {
  text-decoration: underline;
}

.contain {
  border-radius: 1em;
  border: black solid 1px;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 10em;
  margin-right: 10em;
  text-align: center;
}

#main-temp {
  right: 0;
  display: inline-block;
}

.info {
  font-size: large;
}

@media screen and (max-width: 672px) {
    .container {
      border-radius: 1em;
      border: black solid 1px;
      margin: 1em;
    }
}

@media screen and (max-width: 572px) {
    .container {
      margin: 1em;
      border: none;
    }
}
